@{ 
    Layout = null;
}

@model IEnumerable<ShippmentWebApplication.Models.Sender>

@{
    ViewBag.Title = "Sender";
}
<!DOCTYPE html>
 
<html>
<head>
    <title>Sender</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.bundle.js'></script> <script>
        var form = document.getElementById("formAwesome");
        form.addEventListener("submit", onSubmitForm);

        function onSubmitForm(e) {
            e.preventDefault();
            $('#formModal').modal('hide');
            $('#btnStart').hide();
            $('#message').show();
        }
    </script>
 
</head>
<body>

    <div class="panel-group">
        <div class="panel panel-danger">
            <div class="panel-heading" style="text-align:center"><h2>Shipment List</h2>
                </div>
            <div class="panel-body">
                <div style="float:right;padding-bottom: 10px"><button id="btnStart" type="button" data-toggle="modal" data-target="#formModal" class="btn btn-success">Create Shipment</button></div>
                <table class="table table-hover table-responsive">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.SenderName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.RecipientAddress)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Expedited)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Shipment)
                        </th>
                        <th>@Html.DisplayNameFor(model => model.Action)</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.SenderName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RecipientAddress)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Expedited)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Shipment)
                            </td>
                            <td>
                                @Html.ActionLink("Delete", "Delete", new { id = item.SenderId })
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
    @*@using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {*@
    <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="formModalLabel">Create Shipment</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
               
                    @*<div class="form-group">
                        @Html.LabelFor(model => model.SenderName)
                        @Html.TextBoxFor(model => model.SenderName, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description)
                        @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.RecipientAddress)
                        @Html.TextBoxFor(model => model.RecipientAddress, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Expedited)
                        @Html.TextBoxFor(model => model.Expedited, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Shipment)
                        @Html.TextBoxFor(model => model.Shipment, new { @class = "form-control" })
                    </div>

                    @Html.HiddenFor(model => model.SenderId)

                    var c = @Model.SenderId > 0 ? "Update" : "Save";*@
                    <button type="submit" class="btn btn-primary"></button>
                  
                <form id="formAwesome">
                    <div class="modal-body">
                        <div class="form-group row">
                            <label for="firstName" class="col-sm-6 col-form-label">
                                Sender Name
                            </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="firstName" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="desc" class="col-sm-6 col-form-label">
                                Description
                            </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="lastName" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Address" class="col-sm-6 col-form-label">
                                Recipient Address 
                            </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="email" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="expedited" class="col-sm-6 col-form-label">
                                Expedited
                            </label>
                            <div class="col-sm-6">
                                <select class="form-control" id="awesomeness">
                                    <option>True</option>
                                    <option>False</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="shipment" class="col-sm-6 col-form-label">
                                Shipment Type
                            </label>
                            <div class="col-sm-6">
                                <select class="form-control" id="awesomeness">
                                    <option>LTL</option>
                                    <option>Volume LTL</option>
                                    <option>Truckload</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
@*}*@
</body>
</html>
